# Copyright (c) 2012-2013, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

# sensor hub
/dev/iio:device*        0660    system  system

/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* debug_reg_dump 		0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* out_command			0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* in_data 			0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* misc_bin_dmp_firmware 	0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* misc_reset 			0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* name 			0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* buffer/enable 		0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* buffer/length 		0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* scan_elements/in_accel_type	0440 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* scan_elements/in_accel_index 0440 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* scan_elements/in_accel_en 	0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* trigger/current_trigger 	0600 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* in_accel_matrix 		0440 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* in_magn_matrix	 	0440 system system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device* in_anglvel_matrix 		0440 system system

# activity recognition device
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_accel_batch_latency          0220    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_accel_fifo_length            0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_accel_flush                  0220    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_accel_offset                 0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_accel_raw                    0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_accel_scale                  0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_intensity_offset             0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_intensity_raw                0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_intensity_scale              0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_timestamp_offset             0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   in_timestamp_scale              0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   name                            0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   scan_elements/in_accel_en       0660    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   scan_elements/in_accel_index    0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   scan_elements/in_accel_type     0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   scan_elements/in_intensity_en   0660    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   scan_elements/in_intensity_index        0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   scan_elements/in_intensity_type 0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   scan_elements/in_timestamp_en   0660    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   scan_elements/in_timestamp_index        0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   scan_elements/in_timestamp_type 0440    system  system
/sys/devices/f9968000.i2c/i2c-12/12-006b/iio:device*   trigger/current_trigger         0660    system  system

/sys/devices/f9925000.i2c/i2c-4/4-0077/iio:device* buffer/enable                  0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0077/iio:device* buffer/length                  0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0077/iio:device* scan_elements/in_pressure_en   0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0077/iio:device* scan_elements/in_timestamp_en  0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0077/iio:device* in_pressure_scale              0600 system system

#PL sensor
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* buffer/enable 			0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* buffer/length 			0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* scan_elements/in_in_en 	0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* scan_elements/in_custom_en 	0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* scan_elements/in_proximity_en 	0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* scan_elements/in_timestamp_en 	0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* scan_elements/in_illuminance_en 0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* in_illuminance_scale 		0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* in_proximity_offset 		0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* continus_mode 			0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* calibration_offset		0660 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* prox_thres_near 		0600 system system
/sys/devices/f9925000.i2c/i2c-4/4-0060/iio:device* prox_thres_far 		0600 system system

# cpufreq driver
/sys/devices/system/cpu/cpu*    cpufreq/sys_cap_freq        0644    system    system
/sys/devices/system/cpu/cpu*    cpufreq/thermal_cap_freq    0644    system    system
/sys/devices/system/cpu/cpu*    cpufreq/scaling_max_freq    0644    system    system
/sys/devices/system/cpu/cpu*    cpufreq/scaling_min_freq    0644    system    system
